/* Your tabs CSS code here */
.tabs {
  margin-bottom: 20px;
}

.tab {
  color: grey;
  text-decoration: none;
  padding-right: 20px;
}

.tab.active {
color: black;
text-decoration-line: underline;
text-underline-offset: 8px;
}

.tab:hover {
  color: rgb(110, 105, 105);
}
